{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container-scroller">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        BUSINESS
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="row">
                          {% for news in news.tags.all %}
                              <div class="col-sm-4 grid-margin"><div class="rotate-img">
                                    <img
                                      src="../assets/images/business/business_7.png"
                                      alt="banner"
                                      class="img-fluid"
                                    />
                                  </div>
                                </div>
                                <div class="col-sm-8 grid-margin">
                                  <h2 class="font-weight-600 mb-2">
                                    No charges over 2017 battle bus cases
                                  </h2>
                                  <p class="fs-13 text-muted mb-0">
                                    <span class="mr-2">Photo </span>10 Minutes ago
                                  </p>
                                  <p class="fs-15">
                                    Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a
                                    type specimen book.
                                  </p>
                                </div>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}