{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="container" id="register" style="padding-top: 50px; padding-bottom: 50px; max-width: 500px">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Создайте аккаунт</legend>
                {% language 'ru' %}
                    <div style="width: 400px;">{{ form | crispy }}</div>
                {% endlanguage %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Создать</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a href="{% url 'login' %}" class="ml-2">Вход</a>
            </small>
        </div>
    </div>
{% endblock content %}