{% load static %}
<footer style="height: 200px">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-sm-5">
                  <img src="{% static 'assets/images/logo.jpg' %}" class="footer-logo" alt="" />
                  <h5 class="font-weight-normal mt-4 mb-5">
                    Новостное агентство «Tashkent24.uz» существует с июня 2021 года.
                      Наше агентство специализируется на освещении актуальных и интересных новостей Мира.
                  </h5>
                  <ul class="social-media mb-3">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                  <div class="col-sm-12">
                  <div class="d-sm-flex justify-content-between align-items-center">
                    <div class="fs-14 font-weight-600">
                      2021 <a target="blank" class="text-white">© «Tashkent24.uz» </a> Все права защищены.
                    </div>
                    <div class="fs-14 font-weight-600">
                      <a href="https://www.instagram.com/djabbaroov/"><img src="{% static 'assets/images/ajax.jpg' %}" class="footer-logo" alt="" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>